:root {
  font-size: 20px;
  --background: #4bccc3;
  --foreground: #ededed;
}

button,
input {
  font-size: 20px;
  font-family: inherit;
  padding: 10px 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #222;
  /* background: var(--background); */
  background: #dc82ce;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
